@model IEnumerable<PS1.U3.CansinoNuñezManuelGiovanni.Models.Peliculas>

@{
    ViewBag.Title = "Index";
}

    <h2>Directorio de peliculas</h2>

<p>
    @Html.ActionLink("Nueva pelicula", "Create")
</p>


<div class="card">
    <div class="card-body">
        <table class="table table-condensed bg-info">
            <tr>
                <th class="text-center">
                    Nombre de la pelicula
                </th>
                <th class="text-center">
                    Genero
                </th>
                <th class="text-center">
                    Resumen
                </th>
                <th class="text-center">
                    Fecha de estreno
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Genero)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Resumen)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Fecha_Estreno)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>